services:
  netalertx:
    container_name: netalertx
    image: jokobsk/netalertx:24.12.23
    environment:
    - TZ=${TZ}
    network_mode: host
    volumes:
    - config:/app/config
    - db:/app/db
    restart: unless-stopped
volumes:
  config:
  db: