services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v10.0.4
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:8080

networks:
  default: 
    name: dozzle